.container {
  margin: 0 50px;
}
.card {
  margin: 5% 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(20, 88, 236, 0.877);
}
.recovered {
  border-bottom: 10px solid rgba(23, 231, 16, 0.877);
}
.deaths {
  border-bottom: 10px solid rgba(238, 31, 17, 0.877);
}
.underline {
  border-bottom: 2px solid grey;
  display: inline-block;
  margin-bottom: 15px !important;
}
